html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: darkslategrey;
  font-family: "Belanosima", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: whitesmoke;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
/*
general styles
*/

button {
  background-color: deepskyblue;
  border: black 5px solid;
  box-sizing: border-box;
  padding: 10px 16px;
  border-radius: 10%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: aqua;
  transform: scale(1.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

button:active {
  background-color: dodgerblue;
  transform: scale(0.9);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.red {
  background-color: #ed2939;
  border: #000 1px solid;
  box-shadow: -5px -5px 0px 0px rgba(0, 0, 0, 0.5) inset,
    5px 5px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

#next-piece-tiles .red {
  border: none;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.5) inset,
    4px 4px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

.green {
  background-color: #50c878;
  border: #000 1px solid;
  box-shadow: -5px -5px 0px 0px rgba(0, 0, 0, 0.5) inset,
    5px 5px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

#next-piece-tiles .green {
  border: none;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.5) inset,
    4px 4px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

.blue {
  background-color: #318ce7;
  border: #000 1px solid;
  box-shadow: -5px -5px 0px 0px rgba(0, 0, 0, 0.5) inset,
    5px 5px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

#next-piece-tiles .blue {
  border: none;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.5) inset,
    4px 4px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

.yellow {
  background-color: #ffd700;
  border: #000 1px solid;
  box-shadow: -5px -5px 0px 0px rgba(0, 0, 0, 0.5) inset,
    5px 5px 0px 0px rgba(255, 255, 255, 0.5) inset;
}

#next-piece-tiles .yellow {
  border: none;
  box-shadow: -4px -4px 0px 0px rgba(0, 0, 0, 0.5) inset,
    4px 4px 0px 0px rgba(255, 255, 255, 0.5) inset;
}
/*
main------------------------------------------------
*/
main {
  margin: 10px auto 0 auto;
  height: 100%;
  max-width: 80%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "gameboard next-piece-board"
    "gameboard timer-or-points";
  gap: 50px;
}

/*
navigation bar -------------------------------------
*/

nav {
  grid-area: nav;
  background-color: aquamarine;
  padding: 10px;
  box-sizing: border-box;
  border: black 5px solid;
  border-radius: 20px;
  display: flex;
  flex-direction: row; /*spravit aby sa to nezalomovalo do noveho riadka*/
  align-items: center;
  justify-content: space-evenly;
}

/*
display next piece ------------------------------
*/
#next-piece-board {
  grid-area: next-piece-board;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}

#next-piece-board span {
  text-align: center;
}

#next-piece-tiles {
  display: grid; /* to do */
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: repeat(3, 30px);
  box-sizing: border-box;
}

#next-piece-tiles div {
  margin-right: -1px;
}

/*
game board ----------------------------------------------
*/

#game-board {
  position: relative;
  grid-area: gameboard;
  width: 405px;
  display: flex;
  flex-wrap: wrap;
  border: rgba(255, 255, 255, 1) 1px solid;
}

#game-board div {
  flex-basis: calc(100% / 9);
  aspect-ratio: 1/1;
  border: rgba(255, 255, 255, 0.25) 1px solid;
  box-sizing: border-box;
}

#game-board div[id*="18"],
#game-board div[id*="19"],
#game-board div[id*="20"],
#game-board div[id*="21"],
#game-board div[id*="22"],
#game-board div[id*="23"],
#game-board div[id*="24"],
#game-board div[id*="25"],
#game-board div[id*="26"] {
  border-bottom: 3px solid #ed2939;
}

#game-over-text {
  position: absolute;
  width: 404px;
  font-size: 40px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
  margin: auto;
  border: 5px solid #ed2939;
  animation: borderAnimation 1s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-color: #ed2939;
  }
  25% {
    border-color: #318ce7;
  }
  50% {
    border-color: #50c878;
  }
  75% {
    border-color: #ffd700;
  }
  100% {
    border-color: #ed2939;
  }
}
/*
timer  ------------------------------------------------------------
*/

#timer-display,
#points-display {
  grid-area: timer-or-points;
  font-size: 40px;
  margin: auto;
  text-align: center;
}

/*
error ------------------------------------------------------------
*/
#error {
  display: none;
}
#error-container {
  margin: 100px auto auto;
}

@media (max-width: 750px) {
  #error {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: block;
    color: aquamarine;
    font-size: 18px;
    text-align: center;
    background-color: darkslategrey;
  }
}

/*
how to play screen ------------------------------------------
*/

#how-to-play-screen-container {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

#how-to-play-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: darkslategrey;
  border: 5px solid black;
  width: auto;
  padding: 30px;
  border-radius: 16px;
}

#how-to-play-screen h1 {
  margin: 5px auto 40px;
  font-size: 40px;
  text-decoration: underline;
}

#how-to-play-screen li,
#how-to-play-screen p {
  list-style-type: none;
  font-size: 20px;
  font-weight: 500;
}

/*
modal -------------------------------------------------------
*/

#modal {
  display: none; /*Hide the modal by default */
  position: fixed;
  z-index: 9999; /*to do*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background-color: black;
  margin: 40% auto; /* Adjust the margin to center the modal vertically */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 4px;
}

#modal-content button {
  border: 1px solid #888;
}

/**---------------------------------------------*/

#new-points {
  position: relative;
  animation: vanish 1.4s ease-in-out;
}

@keyframes vanish {
  from {
    opacity: 100%;
    bottom: 0;
  }
  to {
    opacity: 0%;
    bottom: 15px;
  }
}

#total-points {
  white-space: pre-line;
}
